{% extends 'base.html' %} {% set active_page = 'home' %} {% block title %}Hệ
thống điểm danh thông minh{% endblock %} {% block content %}
<div class="container-fluid mt-4">
  <div class="row">
    <!-- Main Content -->
    <div class="col-lg-8 col-md-12">
      {% include 'components/attendance_list.html' %}
    </div>

    <!-- Sidebar -->
    <div class="col-lg-4 col-md-12">
      {% include 'components/statistics.html' %} {% include
      'components/session_panel.html' %} {% include
      'components/quick_actions.html' %} {% include
      'components/system_status.html' %}
    </div>
  </div>
</div>

{% include 'components/quick_register_modal.html' %} {% endblock %} {% block
extra_js %}
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}
